// font stacks

// color scheme
$purple: #96858F;
$blue: #6D7993;
$gray: #9099a2;
$offWhite: #D5D5D5;

// global styles
body {
	background-color: $offWhite;
}

//navbar styles
nav {
	background-color: $blue;
}

h1.logo {
	display: inline !important;
	text-shadow: 1px 1px 5px $gray;
}

input.search {
	width: 30em !important;
	padding: 1em !important;
}

#profile-image-anchor {
  width: 65px;
  height: 65px;
  border: none !important;
  border-radius: 50%;
  background-color: transparent !important;
  z-index: 999;
  display: inline-flex;
  float: right;
  margin-right: 0 !important;
  margin-left: 10px !important;
  margin-bottom: 5px !important; }

#profile-image-anchor img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998; }

#profile-image-anchor {
  margin-right: 3%; }


//user login styles
#login-section {
	margin-top: 10em;
}

.login-google, .login-email {
	text-align: center;
}

#login-section{
	background-color: #9099a2;
	margin: 0;
}

#login-section button{
	background-color: #96858F;
	margin: 1vh;
}

//pin list display styles
.pin-cards {
	margin: 3px;
	border: 1px solid #000;
}


// footer styles
footer {
	// position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	padding: 2em;
}




