<section id="login-section">
  <div class="login-google">
    <button type="button" class="btn btn-default" ng-click="logInGoogle()">Log In With Google</button>
  </div>
  <div class="login-email"x`x`>
    <!-- <label for="display-name">Display Name: <input type="text" ng-model="userCreds.displayName"></label> -->
    <label for="email">Email: <input type="text" ng-model="userCreds.email"></label><br>
    <label for="password">Password: <input type="password" ng-model="userCreds.password"></label><br>
    <button type="button" class="btn btn-default" ng-click="register()">Register With Email</button>
    <button type="button" class="btn btn-default" ng-click="logIn()">Login With Email</button>
  </div>
</section>