<section id="login-section">
  <div class="login-google">
    <p>Log In With Google</p>
    <button ng-click="logInGoogle()">Log In With Google</button>
  </div>
  <div class="login-email">
    <p>Register / Login With Email</p>
    <label for="email">Email: <input type="text" ng-model="userCreds.email"></label>
    <label for="password">Password: <input type="password" ng-model="userCreds.password"></label>
    <button ng-click="register()">Register With Email</button>
    <button ng-click="logIn()">Login With Email</button>
  </div>
</section>